header
  .back > i
    width: .43rem /* 32/75 */;
    height: .43rem /* 32/75 */;
    top: .43rem /* 32/75 */;
    position: absolute;
    background: url(../img/timetable/header-l.png) no-repeat;
    background-size:  contain;
  .forward
    display: inline-block;
    & > i
      width: .43rem /* 32/75 */;
      height: .43rem /* 32/75 */;
      position: absolute;
      top: .43rem /* 32/75 */;
      left: 0;
      background: url(../img/timetable/header-l.png) no-repeat;
      background-size:  contain;
      transform: rotate(180deg);
